body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: whitesmoke;
}
  
/* Global */
.container{
    width:80%;
    margin:auto;
    overflow:hidden;
}

a{
    color: black;
    text-decoration: none;
}

/* Header and Nav */
header{
    padding: 10px;
    box-shadow: 0 4px 2px -2px rgba(0,0,0,.2);
    margin: 0 0 10px 0;
}


header ul{
    margin:0;
    padding:0;
}

header li{
    float:left;
    display:inline;
    padding: 0 20px 0 20px;
    margin: 0 5px 0 5px;
    text-transform: uppercase;
    font-size: large;
}


header .current a{
    color: rgb(86, 86, 230);
    font-weight: bold;
}

nav a:hover{
    color: black;
    font-weight: bold;
}

header .logo{
    float: left;
}


header nav{
    float: right;
    margin-top: 35px;
}

/* Showcase */

#showcase .container {
    text-align: center;
    position: relative;
    color: rgb(86, 86, 230);
    padding: 100px 0 100px 0;
}

#greeting {
    color: black;
}

#showcasePic{
    width:100%;
    height:auto;
}

#picText{
    /* position: absolute;
    top: 45%;
    left: 35%;
    transform: translate(-0%, -50%); */
    font-size: 450%;
}

.blink {
    animation: blink-animation 1s steps(5, start) infinite;
    -webkit-animation: blink-animation 1s steps(5, start) infinite;
}

@keyframes blink-animation {
    to {visibility: hidden;}
}

@-webkit-keyframes blink-animation {
    to {visibility: hidden;}
}


/* Resume */
#resume {
    text-align: center;
}
#resume .container{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
    box-shadow: 0px 2px 5px #353535;
}

/* Contact Info */
#contactInfo a {
    color: rgb(86, 86, 230);
}

#contactInfo a:hover {
    color: black;
}

#email {
    text-align: center;
    color: rgb(86, 86, 230);
    padding: 100px 0 100px 0;
    font-size: 450%;
}

/* Footer */
footer{
    text-align: center;
    margin: 10px;
}


@media(max-width: 768px){
    /*No float in the header and nav*/
    /*Center everything*/
    /*width full*/

    /**/
}
